/* ***************************** */
/* HEADER */
/* ***************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f0e6;

  /* Because we want header to be STICKY later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 7rem;
  align-self: center;
}

/* ***************************** */
/* NAVIGATION */
/* ***************************** */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #1c7c1c;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  letter-spacing: 1px;
  border-radius: 25px;
  color: #fff;
  background-color: #1c7c1c;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #036203;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: hwb(120 90% 6% / 0.969);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ***************************** */
/* HERO SECTION */
/* ***************************** */

.hero {
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 2.4rem;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 7.6rem;
  align-items: center;
}

.section-hero {
  background-color: #e6f0e6;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.hero-img {
  width: 100%;
  border-radius: 9px;
}

/* ***************************** */
/* CAROUSEL */
/* ***************************** */

.section-carousel {
  padding: 9.6rem 0;
  /* background-color: #e6f0e6; */
}

/* 
.container.carousel-heading--container {
} 

.container.carousel--container {
}
*/

.carousel-img-1 {
  height: 30rem;
  width: 45rem;
  border-radius: 9px;
  transform: scale(1.25);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.carousel {
  width: 100rem;
  margin: 0rem auto 10rem auto;
  padding: 2.4rem;
  padding-left: 8.6rem;
  padding-right: 3.2rem;
  background-color: #036d03;
  border-radius: 9px;
  position: relative;
  /* Text color was overwritten */
  /* color: #fff; */
  display: flex;
  align-items: center;
  gap: 6.4rem;
}

.description-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #e6f0e6;
  margin-bottom: 4.8rem;
}

.class-description {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 3.2rem;
  color: #e6f0e6;
}

.subheading--carousel {
  margin-left: 8rem;
}

.heading-secondary--carousel {
  margin-left: 8rem;
}

/* CONTROLS */
.carousel-btn {
  background-color: #fff;
  border: none;
  height: 4rem;
  width: 4rem;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.btn-icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #036d03;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 3.2rem);

  display: flex;
  gap: 2.4rem;
}

.dot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #fff;
  border: 0.2rem solid #036d03;
  border-radius: 35%;
  cursor: pointer;
}

.dot--fill {
  background-color: #036d03;
}

/* ***************************** */
/* TESTIMONIALS */
/* ***************************** */

.section-testimonials {
  /* padding: 9.6rem 0; */
  background-color: #e6f0e6;
}

.testimonial-container {
  padding: 12.8rem 9.6rem 9.6rem 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6.4rem 4.8rem;
  align-items: start;
}

.testimonials:nth-child(-n + 4) {
  align-items: self-start;
}
/* .testimonial-5 {
  display: grid;
  grid-template-columns: 40fr 60fr;
  grid-column-start: 2;
  grid-column-end: 4;

} */

.testimonial-img {
  width: 40rem;
  height: 30rem;
  border-radius: 9px;
}

.testimonial-icon {
  height: 3.8rem;
  width: 3.8rem;
  margin-bottom: 1.6rem;
  fill: #036d03;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #555;
  font-weight: 600;
}

/* ***************************** */
/* FAQ */
/* ***************************** */
.section-FAQ {
  padding: 9.6rem 0;
  /* background-color: #e6f0e6; */
}

.FAQ--container {
  width: 90rem;
  margin: 10rem auto;
  /* background-color: #036203; */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.FAQ-heading--container {
  width: 90rem;
}

.short-text {
  display: none;
}

.FAQ-accordion {
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.1);
  padding: 2.4rem;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
  align-items: center;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #036d03;
}

.open .hidden-box {
  display: block;
}

.open .FAQ-number,
.open .FAQ-text {
  color: #036d03;
}

.FAQ-number,
.FAQ-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;
  /* color: #036d03; */
}

.FAQ-number {
  color: #c9c9c9;
}

.FAQ-icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #036d03;
}

.hidden-box {
  grid-column: 2;

  display: none;
}

.hidden-box p {
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.hidden-box ul {
  font-size: 1.8rem;
  color: #555;
  margin-left: 1.7rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* ***************************** */
/* CTA */
/* ***************************** */

.section-CTA {
  padding: 9.6rem 0 6.4rem;
  /* background-color: #e6f0e6; */
  border-top: 1px solid #eee;
}

.container.CTA--container {
  width: 110rem;
  margin: 0rem auto 10rem auto;
  padding: 0rem;
  border-radius: 9px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #1c7c1c;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

  background-image: linear-gradient(to left bottom, #1c7c1c, #036203);

  overflow: hidden;
}

.cta-img-box {
  background-image: linear-gradient(
      to left bottom,
      rgba(53, 138, 53, 0),
      rgba(3, 98, 3, 0)
    ),
    url("../img/Assessment-webp.webp");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #e6f0e6;
}

.container.CTA--container .heading-secondary {
  margin-bottom: 3.2rem;
  color: #e6f0e6;
  color: inherit;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #012101;
  border: none;
  background-color: #e6f0e6;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.section-CTA *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 240, 230, 0.5);
}

/* ***************************** */
/* FOOTER */
/* ***************************** */

.section-footer {
  padding: 12.8rem 0 9.6rem 0;
  background-color: #e6f0e6;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-logo-picture {
  height: 7rem;
  align-self: center;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icons {
  fill: #555;
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #6b6b6b;
  line-height: 1.6;
  font-weight: 500;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.nav-col {
  justify-self: center;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #6b6b6b;
  transition: all 0.3s;
  font-weight: 500;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
